img{width: 100%;}
.col1{background-color: rgb(55, 143, 55);}
.pad1{padding-top: 15px;}
.img2{height: 500px;}
.txt1{font-style: italic;color: black;}
.icn6{font-size: 60px; border-radius: 50%; border: 2px black solid; margin-top: 40px;}
.h1{font-style: bold;}