img{width:100%;}
.img1{background-image: url('../images/hot-coffee-morning-wooden-table_838382-54.avif');background-size:cover; height: 500px;}
.h1{color:goldenrod;}
.h2s{color: white;}
.p1{color:whitesmoke;}
.but1{color: yellow;}
.col1{padding-top: 80px;}